<div class="card">
  <div class="card-body">
    <table *ngIf="todos?.length > 0;else noTodos" class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Course</th>
          <th>Name</th>
          <th>Due Date</th>
          <th>Due Time</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos">
          <td>{{ todo.course }}</td>
          <td>{{ todo.name }}</td>
          <td>{{ todo.duedate | date }}</td>
          <td>{{ todo.duedate | date:'shortTime' }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="onDelete(todo)">
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success btn-block" routerLink="/todo/add">
      Add Todo
      <i class=" fa fa-plus "></i>
    </button>
  </div>
</div>

<ng-template #noTodos>
  <hr>
  <h5>No ToDos</h5>
</ng-template>