<div class="card mb-3">
  <div class="card-body">
    <div class="card-title">
      <h3>Add Event</h3>
    </div>
    <form #eventForm="ngForm" (ngSubmit)="onSubmit(eventForm)">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" #eventName="ngModel" [(ngModel)]="event.name" [ngClass]="{'is-invalid': eventName.errors && eventName.touched}"
              required>
            <div class="invalid-feedback" [hidden]="!eventName.errors?.required">Name is required</div>
          </div>
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" name="location" [(ngModel)]="event.location">
          </div>
          <div class="form-group">
            <label for="crn">CRN</label>
            <input type="text" class="form-control" name="crn" #eventCRN="ngModel" [(ngModel)]="event.crn" [ngClass]="{'is-invalid': eventCRN.errors && eventCRN.touched}"
              required pattern="[0-9]{5}">
            <div class="invalid-feedback" [hidden]="!eventCRN.errors?.required">CRN is required</div>
            <div class="invalid-feedback" [hidden]="!eventCRN.errors?.pattern">CRN is invalid (ex 44102)</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="day">Day</label>
            <select class="form-control" name="day" [(ngModel)]="event.day">
              <option value="0">Sunday</option>
              <option value="1">Monday</option>
              <option value="2">Tuesday</option>
              <option value="3">Wednesday</option>
              <option value="4">Thursday</option>
              <option value="5">Friday</option>
              <option value="6">Saturday</option>
            </select>
          </div>
          <div class="form-group">
            <label for="start">Start</label>
            <input type="text" class="form-control" name="start" [(ngModel)]="event.start" pattern="[0-9]{2}:[0-9]{2}" placeholder="HH:MM"
              #eventStart="ngModel" required [ngClass]="{'is-invalid': eventStart.errors && eventStart.touched}">
            <div class="invalid-feedback" [hidden]="!eventStart.errors?.required">Start time is required</div>
            <div class="invalid-feedback" [hidden]="!eventStart.errors?.pattern">
              Start time is invalid (ex 08:40 or 14:30)
            </div>
          </div>
          <div class="form-group">
            <label for="end">End</label>
            <input type="text" class="form-control" name="end" [(ngModel)]="event.end" pattern="[0-9]{2}:[0-9]{2}" placeholder="HH:MM"
              #eventEnd="ngModel" required [ngClass]="{'is-invalid': eventEnd.errors && eventEnd.touched}">
            <div class="invalid-feedback" [hidden]="!eventEnd.errors?.required">End time is required</div>
            <div class="invalid-feedback" [hidden]="!eventEnd.errors?.pattern">
              End time is invalid (ex 08:40 or 14:30)
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <label for="biweekly" class="input-group-text">
                <span class="mr-2">Biweekly</span>
                <input type="checkbox" name="biweekly" [(ngModel)]="biweekly">
              </label>
            </div>
            <select name="week" class="custom-select" [(ngModel)]="week" [disabled]="!biweekly">
              <option selected></option>
              <option value="1">Week 1</option>
              <option value="2">Week 2</option>
            </select>
          </div>
        </div>
      </div>

      <input type="submit" [value]="update ? 'Edit Event' : 'Add Event' " class="btn btn-block" [ngClass]="{
              'btn-warning': update, 'btn-success': !update }">
    </form>
  </div>
</div>
<app-schedule [canEdit]="true" (editEvent)="onEditEvent($event)"></app-schedule>