<div class="card mb-3">
  <div class="card-body">
    <div class="card-title">
      <h3>Add Event</h3>
    </div>
    <form #eventForm="ngForm" (ngSubmit)="onSubmit(eventForm)">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" #eventName="ngModel" [(ngModel)]="event.name" [ngClass]="{'is-invalid': eventName.errors && eventName.touched}"
              required>
            <div class="invalid-feedback" [hidden]="!eventName.errors?.required">Name is required</div>
          </div>
          <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" name="location" [(ngModel)]="event.location">
          </div>
          <div class="form-group">
            <label for="day">Day</label>
            <select class="form-control" name="day" [(ngModel)]="event.day">
              <option value="0">Sunday</option>
              <option value="1">Monday</option>
              <option value="2">Tuesday</option>
              <option value="3">Wednesday</option>
              <option value="4">Thursday</option>
              <option value="5">Friday</option>
              <option value="6">Saturday</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="start">Start</label>
            <input type="text" class="form-control" name="start" [(ngModel)]="event.start">
          </div>
          <div class="form-group">
            <label for="end">End</label>
            <input type="text" class="form-control" name="end" [(ngModel)]="event.end">
          </div>
          <div class="row">
            <div class="pl-2 form-check col-md-4 text-center">
              <input type="checkbox" class="form-check-input" name="biweekly" [(ngModel)]="biweekly">
              <label for="biweekly" class="form-check-label">Biweekly ?</label>
            </div>
            <div class="form-group col-md-8" [hidden]="!biweekly">
              <label for="week">Week</label>
              <select class="form-control" name="week" [(ngModel)]="week">
                <option value="1">Week 1</option>
                <option value="2">Week 2</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <input type="submit" [value]="update ? 'Edit Event' : 'Add Event'" class="btn btn-block" [ngClass]="{ 'btn-warning': update, 'btn-success': !update }">
    </form>
  </div>
</div>
<app-schedule [canEdit]="true" (editEvent)="onEditEvent($event)"></app-schedule>