<!-- <div class="card">
  <div class="card-body">
    <h3 class="card-title">Dashboard</h3>
    <div class="row">
      <div class="col-md-6 mb-1">
        <button routerLink="/todo" class="btn btn-block btn-primary">Todo</button>
      </div>
      <div class="col-md-6">
        <button routerLink="/schedule" class="btn btn-block btn-primary">Schedule</button>
      </div>
    </div>
  </div>
</div> -->
<div class="row">
  <div class="col-md-6">
    <app-schedule canEdit="false" todayOnly="true"></app-schedule>
  </div>
  <div class="col-md-6">
    <app-todo canEdit="false"></app-todo>
  </div>
</div>

<app-links></app-links>