<!-- <hr> -->
<h5>{{ title }}</h5>
<div class="card"></div>
<div *ngIf="todos?.length > 0;else noTodos">
  <div class="card bg-primary mb-2" *ngFor="let todo of todos">
    <div class="card-body">
      <div class="card-title">
        <div class="row">
          <div class="col">
            <h5>
              <span class="font-weight-bold">{{ todo.course }}</span> {{ todo.name }}
            </h5>
          </div>
          <div class="col text-right">
            <div [ngClass]="{ 'row': canEdit === true }">
              <div [ngClass]="{ 'col-sm-8': canEdit === true }">
                <i class="fas fa-calendar-alt"></i>
                {{ todo.duedate | date }}
                <br>
                <i class="fas fa-clock"></i>
                {{ todo.duedate + ' ' + todo.duetime | date:'shortTime' }}
              </div>
              <div class="col-sm-4 text-right" *ngIf="canEdit === true">
                <button class="btn btn-danger btn-block" (click)="onDelete(todo)">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noTodos>
  <hr>
  <h5>No ToDos</h5>
</ng-template>